
section {
    padding-top: 124px;
    position: relative;
}

section::before {
    z-index: -1;
    content: "";
    font-size: 64px;
    font-weight: 700;
    color: gray;
    opacity: 0.5;
    position: absolute;
    top: 30px;
    left: -20px;
}

.source {
    font-size: 110%;
}

.button {
    border: 2px solid;
    border-radius: 22px;
    max-width: 100px;
    min-width: 100px;
}

.button:hover {
    background-color: black;
    color: white;
}

.navbar {
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-image: linear-gradient(to right, wheat 0%, #ebbe42 40%);
    position: sticky;
    top: 0;
    z-index: 100;
}

#home {
    margin-top: -60px;
}

.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 48px;
}

#profil {
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}
#profil img {
    width: 100%;
    left: 0px;
    right: 0px;
    border-radius: 50%;
}

.home .arrow img {
    width: 60px;
    animation: UpDown 4s infinite;
}

.about::before {
    content: "I've Learn";
}

.about-exp-items-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-exp-items-detail {
    display: none;
}

.work::before {
    content: "Work";
}

.work-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding-left: 25%;
}

#work-3 {
    padding-left: 30%;
    grid-column: span 2;
}

.contact {
    padding-bottom: 128px;
}

.contact::before {
    content: "Contact";
}

#contact img {
    width: 60px;
}

.contact-form {
    border: 1px solid;
    padding: 64px 32px;
}

.form-label {
    font-weight: 600;
}

@keyframes UpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 994px) {
    .work-img {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 576px) {
    section::before {
        left: -10px;
        font-size: 52px;
    }
}